@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

html {
    color-scheme: dark;
}

.big-btn {
    border-radius: 5% !important;
    width: 300px;
    height: 300px;
}

#reset-btn {
    font-size: 1.3rem !important;
    cursor:pointer; font-size:1rem;
    transition: transform 0.15s ease, color 0.15s ease !important;
    color: var(--text-color); /* لون هادئ */
}

#reset-btn:hover {
    transform: scale(1.2) !important;
    color: #198754 !important;
}

#reset-btn:active {
    transform: scale(1) !important;
}

#increment-btn {
    cursor:pointer; font-size:1rem;
    transition: transform 0.15s ease, color 0.15s ease !important;
}

#increment-btn:hover {
    transform: scale(1.01) !important;
}

#increment-btn:active {
    transform: scale(1) !important;
}

.btn-outline-success {
    display: inline-block;
    transition: transform 0.15s ease, color 0.15s ease !important;
}

.btn-outline-success:hover {
    transform: scale(1.05) !important;
}

.btn-outline-success:active {
    transform: scale(1) !important;
}

#count {
    display: inline-block;
    transition: transform 0.15s ease, color 0.15s ease !important;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.form-control:focus {
  border-color: var(--bs-success);
  box-shadow: inset 0 1px 1px var(--bs-success), 0 0 8px var(--bs-success);
}

input::-webkit-search-cancel-button {
    cursor: pointer;
    transition: transform 0.15s ease, color 0.15s ease !important;
}

input::-webkit-search-cancel-button:hover {
    transform: scale(1.2);
}

input::-webkit-search-cancel-button:active {
    transform: scale(1);
}

#resetModal button {
    transition: transform 0.15s ease, color 0.15s ease !important;
}

#resetModal button:hover {
    transform: scale(1.05);
}

#resetModal button:active {
    transform: scale(1);
}

#modal-container .modal-dialog {
    
}